<form [formGroup]="registrationform" (ngSubmit)="submitForm()" novalidate>
  <div class="registration-container" fxLayout="column">
    <mat-form-field>
      <input matInput placeholder="FirstName" formControlName="firstname">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="LastName" formControlName="lastname">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="SurName" formControlName="surname">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Email" formControlName="email">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Password" formControlName="password">
    </mat-form-field>

    <!-- Submit -->
    <div class="button-wrapper">
      <button mat-flat-button color="primary">Submit</button>
    </div>
    <p>{{registrationform.value | json}}</p>
  </div>


</form>

