<div style="height: 80vh;">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span>Nandini PlayGround</span>
        <span class="menu-spacer"></span>
        <div>
          <!-- The following menu items will be hidden on both SM and XS screen sizes -->
          <a routerLink="/home" mat-button>Home</a>
          <a routerLink="/login" mat-button>Login</a>
          <a routerLink="/registration" mat-button>Registration</a>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
  
    <mat-sidenav-container>
      <mat-sidenav #sidenav>
        <mat-nav-list>
          <a (click)="sidenav.toggle()" href="" mat-list-item>Close</a>
          <a routerLink="/home"  mat-list-item>Home</a>
          <a routerLink="/login" mat-list-item>Login</a>
        </mat-nav-list>
      </mat-sidenav>
    </mat-sidenav-container>
  </div>
  